<div class="container-fluid bg-light">
 <div class="bg-success text-white justify-content-center tile font-weight-bold">SQUIGGLE GAMES API</div>
<div class="container">
  <div class="row align-content-center justify content center">
    <div class="col-sm-8">
      Choose your team
      <select name="team" id="team">
        <!-- <option *ngFor="let t of teams"></option> -->
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      USE CASES
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="predictions">Prediction </a>
        </li>
        <li class="list-group-item">
          <a routerLink="results">Results</a>
        </li>
        <li class="list-group-item">
          <a routerLink="matches">Next 5 Matches</a>
        </li>
        <li class="list-group-item">
          <a routerLink="venues">Win Venues</a>
        </li>
        <li class="list-group-item">
          <a routerLink="h2h">H2H</a>
        </li>
        <li class="list-group-item">
          <a routerLink="wins">Biggest Wins</a>
        </li>
        <li class="list-group-item">
          <a routerLink="losses">Biggest Loses</a>
        </li>
        <li class="list-group-item">
          <a routerLink="standings">Standings</a>
        </li>
      </ul>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
</div>